@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University Database</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    <section class="blue">
        <button class="blue" onclick="redirectToPage('/Student/Index')"><span>Student Operations</span><i class="entypo-right-open-big"></i></button>
    </section>

    <section class="green">
        <button class="green" onclick="redirectToPage('/Exam/Index')"><span>Exam Operations</span><i class="entypo-right-open-big"></i></button>
    </section>

    <section class="purple">
        <button class="purple" onclick="redirectToPage('/Section/Index')"><span>Section Operations</span><i class="entypo-right-open-big"></i></button>
    </section>

    <section class="pink">
        <button class="pink" onclick="redirectToPage('/Course/Index')"><span>Course Operations</span><i class="entypo-right-open-big"></i></button>
    </section>

    <section class="blue">
        <button class="blue" onclick="redirectToPage('/ExamMark/Index')"><span>Exam Marks Operations</span><i class="entypo-right-open-big"></i></button>
    </section>

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
        function redirectToPage(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>